html,body{
  width: 100%;
  height: 100%;
}
body{
  margin: 0px;
}
.menu {
  width: 100%;
}
.menu ul{
  list-style: none;
  display: -webkit-flex; 
  display: flex;
  background: #E7D8C9;
  padding-left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}
.menu a {
  text-decoration: none;
  padding: 1em;
  display: block;
  color: #7E766E;
  transition: .25s;
  background: inherit;
}

.menu a:hover {
  background: #EFE6DC;
  transition: .25s;
}

.wall{
  height: 89%;
  width: 100%;
  font-size: 0px;
  padding: 0px;
  margin: 0px;
}

.choices_block{
  background-color: #EEE4E1; 
  height: 100%;
  width: 25%;
  margin: 0px;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}
.choice{
  background-color: inherit;
  width: 100%;
  height: 5em;
  text-align: center;
  line-height: 5em;
  transition: .25s;
}
.choice:hover{
  background-color: #ECF8F8;
  transition: .25s;
}
.choice-active{
  background-color: #ECF8F8;
}
.choice h1{
  display: block;
  text-decoration: none;
  color: #565B5B;
  margin: 0px;
}
.choice input{
  display: block;
  width: 100%;
  height: 100%;
  padding: 0%;
  border: none;
  background: none;
  outline: none;
  font-size: 28px;
  font-family: times;
}


.info_block{
  background-color: #ECF8F8;
  height: 100%;
  width: 75%;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  overflow-y: scroll; 
  text-align: justify;
}
.info_block img{
  border: 2.5px dashed #d8e9e9;
}

.T-center{
  text-align: center;
}

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
} 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(#c98b21, 0.81); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}